.table{
	border: solid 1px #000;
}

.navbar-custom{
    background-color: #000;

}

.navbar-right-custom{
    padding-top: 6px;
    padding-right: 20px;
    
}

.bg-menu-color{
	background: #2C77C1 
}

.navbarTitle{
    font-size: 26px;
    font-weight: 700;
}

.navbarTitle a{
	color: white;
	text-shadow:1px 1px 1px rgba(0,0,0,.5);
}

.navbarTitle a:hover{
	color:white;
	text-shadow:2px 2px 2px rgba(0,0,0,.5);
	text-decoration:none;
}

.nav-item{
	font-size: 20px;
	font-weight: 700;
	color: white;
}

.dropdown-menu.show{
	background-color: #41acf4 !important;
	border:0px !important;
}

.dropdown-item:hover{
	background-color: transparent !important;
	color: rgba(0,0,0,.5) !important;
}

nav button:focus{
	outline: 5px auto white !important;
}

.title{
	color:#2C77C1;
	border-color: black;
}

.summary{
	background-color: grey;
	border-style: solid;
}

.homeImage{
    max-width: 500px;
	float:left;
}

.visImage{
	max-width: 100%;
	float:left;
}

.visMenu{
	clear:left;
	background-color: grey;
	border-style: solid;
}

.theImage{
	max-width:100%;
	padding:2px;
}

.p{
	font-size: 20px;
}

.imageBorder{
	border: solid 3px #2C77C1;
}
